.logo{
   display: flex;
   align-items: center;
   gap: 15px;
   border-radius: 45px;
   color: #fff;
}

.mainText{
   text-align: right;
   line-height: 0.9;
}

.abbr{
   font-size: 24px;
   font-weight: 700;
}

.year{
   font-size: 15px;
   font-weight: 500;
}

.text{
   max-width: 315px;
   font-size: 15px;
   font-weight: 600;
   color: #fff;
}