.question{
   padding: 15px;
   margin-bottom: 15px;
   border: 3px solid var(--sky-blue);
   border-left: 10px solid var(--sky-blue);
   border-radius: 32px;
   font-size: 20px;
}

.question:hover{
   background-color: #ededff;
}

:global(.dark) .question:hover {
   background-color: #1a1a1a;
}

.question:last-child{
   margin-bottom: 0;
}

.questionHeader{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 10px;
}

.questionNumber{
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: flex-start;
   flex-shrink: 0;
   width: 29px;
   min-height: 29px;
   margin-top: 3px;
   border: 2px solid;
   border-radius: 50%;
   font-weight: 600;
   font-size: 16px;
}

.falseAnswer{
   border-color: var(--red)
}

.correctAnswer{
   border-color: var(--green);
}

.questionName{
   font-weight: 500;
}

.answerWrap{
   display: flex;
   align-items: center;
   gap: 10px;
}

.falseAnswerIcon{
   padding: 0 5px;
}

.userAnswer{
   font-size: 19px;
}

.rightAnswer span{
   border-bottom: 1px solid var(--black);
}