.progressWrap{
   position: relative;
   width: 100%;
}

.progressInfo{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 100%;
   height: 100%;
   color: var(--text);
   font-weight: 500;
   font-size: 19px;
}

.progressLine{
   display: block;
   width: 100%;
   height: 45px;
   border-radius: 30px;
   overflow: hidden;
}

.progressLine::-webkit-progress-bar{
   background-color: var(--white);
}

:global(.dark) .progressLine::-webkit-progress-bar{
   background-color: #606060;
}

.progressLine::-webkit-progress-value{
   background-color: var(--sky-blue);
   transition: all 0.12s linear;
}

.progressLine::-moz-progress-bar{
   background-color: var(--sea-blue);
   transition: all 0.12s linear;
}

:global(.dark) .progressLine::-webkit-progress-value{
   background-color: var(--light-black);
}

:global(.dark) .progressLine::-moz-progress-bar{
   background-color: var(--light-black);
}

@media screen and (max-width: 500px) {
   .progressWrap{
      margin-bottom: 15px;
   }
}

@media screen and (max-width: 470px) {
   .progressInfo{
      font-size: 16px;
   }
   .progressLine{
      height: 25px;
   }
}

