.content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   height: 100%;
}

.resultInfo {
   align-self: center;
   max-width: 700px;
   width: 100%;
   padding: 35px;
   margin: auto 0;
   border-radius: 35px;
   background-color: var(--block-background);
   color: var(--inverse-text);
   transition: 0.2s all linear;
}

.resultText{
   margin-bottom: 25px;
}

.link{
   display: inline-block;
   padding: 15px;
   background-color: var(--white);
   color: var(--default-black);
   font-weight: 500;
}

.link:hover{
   text-decoration: underline;
}
