.content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   height: 100%;
}

.resultInfo {
   align-self: center;
   max-width: 715px;
   width: 100%;
   padding: 33px;
   margin: auto 0;
   border-radius: 55px;
   border: 2px solid var(--blue);
   background-color: var(--block-background);
   color: var(--inverse-text);
   transition: 0.2s all linear;
}

:global(.dark) .resultInfo{
   border: 2px solid var(--white);
}

.resultText{
   margin-bottom: 25px;
   font-size: 19px;
}

.links{
   display: flex;
   gap: 20px;
}

.link:nth-child(1) {
   flex-shrink: 0;
}

.link, .communityLink{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
   background-color: var(--white);
   color: var(--default-black);
   font-weight: 500;
   text-align: center;
}

.communityLink{
   flex-grow: 1;
}

.link:hover, .communityLink:hover{
   text-decoration: underline;
}

@media screen and (max-width: 645px) {
   .links{
      flex-direction: column;
   }
}

@media screen and (max-width: 515px) {
   .resultInfo{
      border-radius: 47px;
      padding: 27px;
   }
   .resultText{
      font-size: 15px;
   }
   .link, .communityLink{
      font-size: 16px;
      padding: 10px;
   }
}
