:root{
   --default-black: #000;
   --light-black: #1a1a1a;
   --light-grey: #3a3a3a;
   --dark-grey: #313131;
   --body-blue: #dbe2e6;
   --white: #fff;
   --blue: #44a5ff;
   --super-blue: #76c1ff;
   --light-blue: #B1E3FF;
   --sky-blue: #58AFFF;
   --sea-blue: #99ceff;
   --super-light-blue: #d1f4ff;
   --invisible-blue: #E0F0FF;

   --body-background: var(--body-blue);
   --background: var(--white);
   --light-background: var(--invisible-blue);
   --dark-background: var(--super-light-blue);
   --nav-background: var(--super-blue);
   --block-background: var(--blue);
   --text: var(--light-black);
   --inverse-text: var(--white);
   --super-text: var(--default-black);
   --dark-text: var(--blue);

   --selected-answer: var(--sea-blue);
   --checked-answer: var(--sky-blue);
}

.dark{
   --body-background: var(--dark-grey);
   --background: var(--light-black);
   --dark-background: var(--dark-grey);
   --light-background: var(--light-grey);
   --nav-background: var(--dark-grey);
   --block-background: var(--light-black);
   --selected-answer: var(--dark-grey);
   --checked-answer: var(--light-grey);
   --text: #e8e8e8;
   --inverse-text: #e8e8e8;
   --dark-text: var(--white);
   --super-text: var(--white);
}