* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: 0.1s background-color linear;
}

body {
   font-size: 21px;
   font-family: 'Montserrat';
   font-weight: 400;
   font-style: normal;
   overflow-y: scroll;
}


ul, ol, li{
   list-style: none;
}

a, a:visited, a:active{
   text-decoration: none;
   cursor: pointer;
}

button, input, textarea{
   display: flex;
   outline: none;
   background: none;
   box-shadow: none;
   border: none;
   font-family: inherit;
   font-size: inherit;
   color: var(--default-black);
}

button{
   cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
   font-size: inherit;
   font-weight: inherit
}

hr{
   display: block;
   border: none
}

img{
   max-width: 100%;
   height: auto;
}

input,
label,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}