.app{
   display: grid;
   grid-template-rows: auto 1fr;
   grid-template-columns: 100%;
   gap: 15px;
   min-height: 100svh;
   color: var(--text);
   backdrop-filter: var(--background-img-filter);
}