.nextQuestionBtn{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   width: 41%;
   border-radius: 35px;
   font-size: 50px;
   background-color: var(--dark-background);
   transition: 0.14s all linear;
}

.nextQuestionBtn svg{
   width: 42px;
   height: 74px;
   fill: var(--sea-blue);
   transition: 0.14s all linear;
}

.nextQuestionBtn:hover{
  background-color: var(--light-blue);
}

.nextQuestionBtn:hover svg{
   fill: #FFF;
}