.tag{
   display: flex;
   flex-direction: column;
   width: 185px;
   border: 2px solid #fff;
   border-bottom: 5px solid #fff;
   padding: 7px;
   text-align: center;
}

.emoji{
   font-size: 50px;
}

.title{
   font-size: 15px;
   font-weight: 400;
}