.tag{
   display: flex;
   flex-direction: column;
   border: 3px solid #fff;
   padding: 7px;
   text-align: center;
}

.emoji{
   font-size: 2.5em;
}

.title{
   font-size: 0.71em;
   font-weight: 400;
}

@media screen and (max-height:901px) {
   .emoji{
      font-size: 28px;
   }
}

@media screen and (max-width: 900px) {
   .title{
      font-size: 13px;
   }
}

@media screen and (max-width: 550px) {
   .title{
      font-size: 11px;
   }
}