.controls{
   display: flex;
   flex-grow: 1;
   gap: 15px;
}

.answersList{
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 59%;
   aspect-ratio: 2 / 1.4;
}

@media screen and (max-height: 901px) {
   .answersList{
      aspect-ratio: 2 / 1.2;
   }
}

@media screen and (max-width: 575px) {
   .controls{
      flex-direction: column;
   }
   .answersList{
      aspect-ratio: unset;
      width: 100%;
   }
}