.header{
   position: relative;
   padding: 14px 0;
   border-bottom: 4px solid var(--block-background);
   font-size: 20px;
   background-color: var(--super-blue);
}

:global(.dark) .header{
   background-color: var(--dark-grey);
}

.content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}

.links{
   display: flex;
   gap: 25px;
   margin-left: auto;
}

.link {
   position: relative;
   display: flex;
   align-items: center;
   padding: 5px 40px 5px 10px;
   font-size: 0.9em;
   border-radius: 20px;
   background: var(--block-background);
   color: var(--inverse-text);
}

.link:hover{
   filter: brightness(95%)
}

:global(.dark) .link:hover{
   filter: brightness(110%)
}

.link::before{
   content: "";
   position: absolute;
   top: 0px;
   right: 10px;
   line-height: 1.7;
}

.link:nth-child(1):before{
   content: "📖";
}

.link:nth-child(2):before{
   content: "👨‍💼";
}

:global(.dark) .link span{
   color: var(--white);
}

.link:hover span{
   background-color: rgba(0,0,0,0);
   color: var(--white);
}

@media screen and (max-width: 610px) {
   .header{
      padding: 7px 0;
   }

   .content{
      gap: 15px;
   }

   .links{
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      width: 100%;
      padding: 15px 120px 15px 15px;
      border-bottom: 5px solid var(--white);
      background-color: var(--nav-background);
      z-index: 400;
   }

   .linksOpened{
      transform: translateY(0);
   }
   
}