.intro{
   display: flex;
   align-items: center;
   justify-content: center;
}

.content{
   max-width: 1150px;
   padding: 45px;
   border-radius: 45px;
   background-color: var(--element-background);
   color: var(--inverse-text);
   line-height: 1.4;
   font-weight: 500;
}

.title{
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 1.34em;
}

.desc{
   margin-bottom: 15px;
}

.name{
   text-decoration: underline;
   margin-bottom: 20px;
}

.tagsWrap{
   margin-bottom: 15px;
}

.tags{
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   margin-bottom: 15px;
}

.tagsText{
   font-weight: 400;
}

.startBtn{
   padding: 10px 15px;
   background-color: #fff;
   color: var(--default-black);
   font-weight: 500;
}

.startBtn:hover{
   text-decoration: underline;
}

@media screen and (max-width: 940px) {
   .intro{
      font-size: 16px;
   }
   .content{
      padding: 30px;
   }
}