.footer{
   margin-top: auto;
}

.content{
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 11px 25px;
   color: var(--inverse-text);
   background-color: var(--block-background);
   border-radius: 35px 35px 0 0;
   font-size: 15px;
}

.info{
   display: flex;
   align-items: center;
   gap: 20px;
}

.socials{
   display: flex;
   align-items: center;
   margin-left: auto;
   gap: 15px;
}

.footer svg{
   width: 27px;
   height: 27px;
   fill: var(--inverse-text);
}

@media screen and (max-width: 515px) {
   .info{
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
   }
}