.question {
   display: flex;
   flex-direction: column;
   align-self: center;
   width: 100%;
   max-width: 908px;
   padding: 38px;
   border-radius: 45px;
   border: 2px solid var(--white);
   background-color: var(--background);
}

.questionTitle {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 500;
}

@media screen and (max-height: 901px) {
   .questionTitle{
      font-size: 22px;
   }
}

@media screen and (max-width: 700px) {
   .question {
      padding: 23px;
   }
   .questionTitle {
      font-size: 15px;
      font-weight: 600;
      padding-left: 10px;
      margin-bottom: 15px;
   }
}

