.emptyResult{
   display: flex;
   align-items: center;
   justify-content: center;
}

.content{
   padding: 35px;
   border-radius: 20px;
   background-color: var(--block-background);
}

.title{
   margin-bottom: 30px;
   font-weight: 700;
   color: var(--inverse-text);
}

.link{
   display: block;
   width: 100%;
   padding: 15px;
   border-radius: 15px;
   color: var(--text);
   background-color: var(--background);
   font-weight: 500;
   transition: 0.2s all linear;
}

.link:hover{
   text-decoration: underline;
}