.testPage > div {
   height: 100%;
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   height: 100%;
}

:global(.dark) .testName{
   color: var(--text);
}