.answer{
   position: relative;
   flex: 1 0 auto;
}

.answerRadio{
   display: none;
}

.answerText{
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 10px 28px;
   color: var(--light-text);
   font-weight: 500;
   background-color: var(--background);
   border-radius: 30px;
   overflow: hidden;
   user-select: none;
   cursor: pointer;
   transition: 0.14s all linear;
}

.answerRadio:checked + .answerText{
   background-color: var(--selected-answer);
   color: #fff;
}

.answerText::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   transform: translateX(-100%);
   width: 12px;
   height: 100%;
   background-color: var(--checked-answer);
   transition: transform 0.2s linear;
}

.answerRadio:checked + .answerText::before{
   transform: translateX(0);
}

.answerText:hover{
   background-color: var(--selected-answer);
   color: #fff;
}

@media screen and (max-width: 750px) {
   .answerText{
      padding: 15px 19px;
      border-radius: 15px;
      font-size: 16px;
   }
}

@media screen and (max-width: 575px) {
   .answerText{
      padding: 18px 19px;
   }
}

@media (hover: none) and (pointer: coarse) {
   .answerText:hover{
      background-color: var(--background);
      color: var(--light-text);
   }
}